
/* Написано в FreeBSD, Midnight Commander. */
/* Ukraine. (C) Demidov S.V. */

	/* Шрифты взяты с: https://github.com/maxwell-k/dejavu-sans-mono-web-font */

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: normal;
	font-weight: normal;
	src: url(fonts/DejaVuSansMono.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: normal;
	font-weight: bold;
	src: url(fonts/DejaVuSansMono-Bold.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: oblique;
	font-weight: bold;
	src: url(fonts/DejaVuSansMono-BoldOblique.woff) format("woff");
	}

	@font-face {
	font-family: "DejaVu Sans Mono_";
	font-style: oblique;
	font-weight: normal;
	src: url(fonts/DejaVuSansMono-Oblique.woff) format("woff");
	}

	/* Шрифт и цвет символов на всех страницах */

	body {
	font-family: DejaVu Sans Mono_;
	font-size: 73%;
	color: #333333;
	}

	/* Параграф */

	p {
	line-height: 16px;
	}

	/* Цвет ссылкам. */

	a {
	color: #0144b4;
	text-decoration: none;
	}

	a:visited { 
	color: #0144b4;
	text-decoration: none;
	}

	a:hover{
	color: #0144b4;
	text-decoration: underline;
	}

	/* Маленький шрифт для подвала */

	.smalltxtfooter {
	font-size: 0.9em;
	}

	/* Раасстояние между строк для подвала */

	.footer_p {
	line-height: 14px;
	}

	/* Горизонтальная линия */

	hr {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #aaaaaa; /* Цвет линии для браузера Firefox и Opera */
	color: #aaaaaa;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/* Размер шрифта для Hobby */

	.texthobby {
	font-size: 300%;
	color: #333333;
	}

	/* Маленький шрифт для Hobby */

	.smalltxthobby {
	font-size: 0.9em;
	}

	/* Подложка для флагов */

	.USCNRU {
	background: #eeeeee;
	border: 1px solid #eeeeee;
	border-radius: 0px;
	padding: 0px 6px 0px 6px;
	}

	/* Горизонтальная линия для Hobby */

	.hrwhite {
	border: none;              /* Убираем границу для браузера Firefox    */
	background-color: #dcdcdc; /* Цвет линии для браузера Firefox и Opera */
	color: #dcdcdc;            /* Цвет линии для остальных браузеров      */
	height: 1px;               /* Толщина линии                           */
	width: 100%;
	margin-top: 4px;
	margin-bottom: 4px;
	}

	/* Иконки поиска */

	.iconsearch {
	background: #f6f8fa;
	background: linear-gradient(to top, #f6f8fa, #ffffff);
	border: 1px solid #bfd1e5;
	border-radius: 2px;
	padding: 4px 10px 4px 10px;
	}

	/* Заголовок. Большой текст. */

	.titlebig {
	background: #f1f8ff;
	border: 1px solid #f1f8ff;
	padding: 4px 4px 4px 4px;
	color: #022169;
	width: 100%;
	font-size: 1.6em;
	}

	/* Заголовок. Средний текст. */

	.titlemiddle {
	background: #f0f4f7;
	border: 1px solid #f0f4f7;
	padding: 0px 4px 0px 4px;
	height: 16px;
	color: #022169;
	width: 100%;
	font-size: 1.2em;
	}

	/* Зебра 1 */

	.table_bg_a {
	background: #f0f2f4;
	border: 1px solid #f0f2f4;
	padding: 0px 4px 0px 4px;
	}

	/* Зебра 2 */

	.table_bg_b {
	background: #ffffff;
	border: 1px solid #ffffff;
	padding: 0px 4px 0px 4px;
	}

	/* Конец таблицы */

	.titleend {
	background: #f0f4f7;
	width: 100%;
	height: 12px;
	}

	/* Иконка */

	.icon {
	display: flex;
	align-items: center;
	justify-content: center;
	}

	/* Кнопка с текстом */

	.txtbutton {
	background: #f6f8fa;
	background: linear-gradient(to top, #f6f8fa, #ffffff);
	border: 1px solid #bfd1e5;
	border-radius: 2px;
	padding: 4px 10px 4px 10px;
	}
